################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/DatabaseApp/FileContentIndex/afc68f34-ce9b-4981-a9c5-a1c7ca4f6a02.vsidx
/.vs/DatabaseApp/FileContentIndex
/.vs/DatabaseApp/v17/.suo
/.vs/DatabaseApp/v17/DocumentLayout.backup.json
/.vs/DatabaseApp/v17/DocumentLayout.json
/bin/Release/DatabaseApp.exe
/bin/Release/DatabaseApp.pdb
/obj/Release/DatabaseApp.csproj.GenerateResource.cache
/obj/Release/DatabaseApp.exe
/obj/Release/DatabaseApp.pdb
/obj/Release/DesignTimeResolveAssemblyReferences.cache
/History.cs
/History.Designer.cs
