################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/DatabaseApp/FileContentIndex/afc68f34-ce9b-4981-a9c5-a1c7ca4f6a02.vsidx
